{{ define "components/anime_list_cards" }}
<div class="flex flex-wrap justify-center items-stretched gap-10 mt-10">
	{{ range $idx, $anime := $.animeList }}
	<div class="w-72 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-stretch transition-all duration-1000"
		data-title="{{ if $anime.AlternativeTitle.Valid }} {{ $anime.AlternativeTitle.String }} {{else}} {{ $anime.Title }} {{ end }}"
		data-animeidx="{{ $idx }}"
		{{ if lt $anime.CurrentStatus 5 }} data-autohidden="0" {{ else }} data-autohidden="1" {{ end }}
		>
		{{ if $anime.Image.Valid }}
		<a href="/anime/{{ $anime.Id }}">
			<img class="rounded-t-lg w-[300px] max-h-[400px]" src="{{ $anime.Image.String }}" alt="" loading="lazy"
				fetchPriority="low" />
		</a>
		{{ end }}
		<div class="p-5 h-full flex flex-col justify-between">
			<h5 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
				{{ if $anime.AlternativeTitle.Valid }}
				{{ $anime.AlternativeTitle.String }}
				{{ else }}
				{{ $anime.Title }}
				{{ end}}
			</h5>
			<div>
				<span id="anime-${idx}-full-description" class="hidden">${{ $anime.Description.String }}</span>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-balance whitespace-nowrap truncate max-h-48">
					{{ $anime.Description.String }}
				</p>
				<label for="select-anime-idx-{{ $idx }}"
					class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Status:
				</label>
				<select id="select-anime-idx-{{ $idx }}"
					class="block w-full p-2  text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					data-animeid="{{ $anime.Id }}"
					autocomplete="off"
					onchange="changeStatus(this)">
					{{ range $status := $.statusList }}
						<option value="{{ $status.Id }}" {{ if eq $status.Id $anime.CurrentStatus}} selected {{ end }} >{{ $status.Name }}</option>
					{{ end }}
				</select>
			</div>
		</div>
	</div>
	{{ end }}
</div>
<script>
	async function changeStatus(select) {
		const animeID = select.dataset.animeid;
		const url = '/api/status/:anime/:status'.replace(':status', select.value).replace(':anime', animeID);
		console.log(url);
		const res = await fetch(url, { method: 'PATCH' });
		console.log(res.status)
	}
</script>
{{ end }}